<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxYhlZhaYlEomTM1f7wcqjDvKJD3FB9jA</string>
	<key>GCM_SENDER_ID</key>
	<string>346034015437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newCalculator.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>a-calculator-with-login</string>
	<key>STORAGE_BUCKET</key>
	<string>a-calculator-with-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346034015437:ios:8748f8c1d32d68e4fe6d84</string>
</dict>
</plist>